@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Ubuntu;
  src: url("../../assets/fonts/Ubuntu-Regular.ttf")
}

@font-face {
  font-family: UbuntuMono;
  src: url("../../assets/fonts/UbuntuMono-Regular.ttf")
}

html {
  @apply h-full w-full;
}

body {
  @apply h-full w-full;
}

@layer base {
  html {
    font-family: 'Ubuntu', system-ui, sans-serif;
    font-size: 18px;
  }
}

@layer components {
  .draggable {
    -webkit-app-region: drag;
  }

  .title {
    @apply text-white;
  }

  .hint {
    @apply p-3 rounded-lg;
    border-left-width: 10px;
  }

  .hint.info {
    @apply bg-[#A8C594];
    @apply text-gray-800;
    border-left-color: #009400;
  }

  .hint.warning {
    @apply bg-[#FFE135];
    @apply text-gray-800;
    border-left-color: #9c8033;
  }

  .hint.error {
    @apply bg-[#D82E3F];
    @apply text-gray-200;
    border-left-color: #dd6d6d;
  }

  .hint.note {
    @apply bg-gray-500;
    @apply text-gray-200;
    border-left-color: #ababab;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
