@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full w-full
}

body {
  @apply h-full w-full
}

@layer base {
  html {
    font-family: "Ubuntu Mono", system-ui, sans-serif;
    font-size: 18px;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
