<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' 'unsafe-inline'"
    />
    <title>LinC</title>
</head>
<body>
<div id="root" class="h-full w-full bg-gray-200"></div>
</body>
</script>
</html>
