<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta
            http-equiv="Content-Security-Policy"
            content="script-src 'self' 'unsafe-inline'"
    />
    <title>Hello Electron React!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/kimbie-dark.min.css" integrity="sha512-9S3lkmdjGbXaX5e1URnKagDu29+3t8ng8OjKRDd8SMwHhQlw8SBlKarHJOjVToBjapsCdZKt3klx+hpN6XNFCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div id="root" class="h-full w-full bg-gray-200"></div>
</body>
</script>
</html>
